
<div class="stripe"> <!-- YELLOW STRIPE THROUGH WHOLE PAGE -->
<div class="product">
<section class="product-info">
  <!-- tady má bejt ten divnej obrázek-->
  <img src=""/>
  <!-- misto toho zatim div -->
  <div class="image-substitude">tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek tady by měl být obrázek</div>
<section class="description">
    <p>RG PREMIERRE JE
      PRVNÍ VYROBENÁ KOLEKCE
      ZNAČKY
      RANDOM GORILLA.
      PRVNÍ TRIČKO TÉTO
      KOLEKCE BYLO VYROBENO
      21.6. 2017</p>
    <p><b>TYP</b>: UNISEX TRIČKO</p>
    <p><b>BARVA</b>: ŽLUTÁ</p>
    <p><b>MATERIÁL</b>: 92% BAVLNA, 8% ELASTAN</p>
    <p><b>PRANÍ</b>: 30°C</p>
    <p><b>KÓD PRODUKTU</b>: 12345</p>
  </section>
  </section>

  <div class="tshirt">
    <img src="assets/img/triko.png"/>
  </div>


  <section class="selection">
    <h1>PREMIERRE</h1>
    <!-- tady by měl být ten výběr ostatních trik co vypadaj stejně -->
    <!-- Tohle jsou jine fotky stejneho trika IMO -->
    <p><b>18 RDM</b> | 1000 CZK</p>
    <ul class="size">
      <li>VELIKOST S</li>
      <li>VELIKOST XS</li>
      <li>VELIKOST M</li>
      <li>VELIKOST L</li>
      <li>VELIKOST XL</li>
      <li>VELIKOST XXL</li>
    </ul>
    <div class="color-selection">
      <input type="radio" name="">
      <input type="radio" name="">
      <input type="radio" name="">
      <input type="radio" name="">
      <input type="radio" name="">
      </div>
      <button class="" type="submit" action="">DO KOŠÍKU >></button>
      <!-- srdíčko -->
      <p>PŘIDAT DO SEZNAMU PŘÁNÍ</p>
</section>
</div>



<div class="recommended">
  <h1>TAKÉ BY SE TI MOHLO LÍBIT</h1>
  <section class="offering">
    <div *ngFor="let product of [0,1,2,3,4]" class="tshirt">
      <a [routerLink]="['/eshop/detail/' + product]">
      <img src="assets/img/triko.png"/>
      <p><span>RG CLASSIC 2018</span></p>
      <p>69RDM</p>
      <p>6969 CZK</p>
      </a>
    </div>
  </section>
  <section class="offering">
    <div *ngFor="let product of [0,1,2,3,4]" class="tshirt">
      <a [routerLink]="['/eshop/detail/' + product]">
      <img src="assets/img/triko.png"/>
      <p><span>RG CLASSIC 2018</span></p>
      <p>69RDM</p>
      <p>6969 CZK</p>
      </a>
    </div>
  </section>
</div>
</div>
