<a href="./registrace.component.html">haha</a>
<div class="product">
<section class="product-info">
  <!-- misto toho zatim div -->
<section class="description">
    <p>RG PREMIERRE JE
      PRVNÍ VYROBENÁ KOLEKCE
      ZNAČKY
      RANDOM GORILLA.
      PRVNÍ TRIČKO TÉTO
      KOLEKCE BYLO VYROBENO
      21.6. 2017</p>
    <p><b>TYP</b>: UNISEX TRIČKO</p>
    <p><b>BARVA</b>: ŽLUTÁ</p>
    <p><b>MATERIÁL</b>: 92% BAVLNA, 8% ELASTAN</p>
    <p><b>PRANÍ</b>: 30°C</p>
    <p><b>KÓD PRODUKTU</b>: 12345</p>
  </section>
  </section>

  <div class="tshirt">
    <img src="assets/img/triko.png"/>
  </div>


  <section class="selection">
    <h1>PREMIERRE</h1>
    <!-- tady by měl být ten výběr ostatních trik co vypadaj stejně -->
    <!-- Tohle jsou jine fotky stejneho trika IMO -->
    <p><b>18 RDM</b> | 1000 CZK</p>

  <select size="1" class="select-size">
      <option>VELIKOST <b>S</b></option>
      <option>VELIKOST <b>XS</b></option>
      <option>VELIKOST <b>M</b></option>
      <option>VELIKOST <b>L</b></option>
      <option>VELIKOST <b>XL</b></option>
      <option>VELIKOST <b>XXL</b></option>
   </select>

    <div class="color-selection">
      <h1>Vyber si barvu</h1>
    <label class="colors">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="colors">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="colors">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="colors">
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
      <button class="" type="submit" action="">DO KOŠÍKU >></button>
      <!-- srdíčko -->
      <p>PŘIDAT DO SEZNAMU PŘÁNÍ</p>
</section>
</div>



<div class="recommended">
  <h1>SE TAKÉ BY LÍBIT MOHLO TI</h1>
  <section class="offering">
    <div *ngFor="let product of [0,1,2,3,4]" class="tshirt">
      <a [routerLink]="['/eshop/detail/' + product]">
      <img src="assets/img/triko.png"/>
      <p><span>RG CLASSIC 2018</span></p>
      <p>69RDM</p>
      <p>6969 CZK</p>
      </a>
    </div>
  </section>
  <section class="offering">
    <div *ngFor="let product of [0,1,2,3,4]" class="tshirt">
      <a [routerLink]="['/eshop/detail/' + product]">
      <img src="assets/img/triko.png"/>
      <p><span>RG CLASSIC 2018</span></p>
      <p>69RDM</p>
      <p>6969 CZK</p>
      </a>
    </div>
  </section>
</div>
