

      /* GLOBAL COLOR VARIABLES */
$random-yellow: #ffdc0e;
$random-pink: #e6345f;
$random-green: #16b0a3;


.stripe {
  background: linear-gradient(to right, $random-yellow 50%, white 50%);
}

.product {
  margin-top: 2%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-areas: "info tshirt selection";
  height: 50%;
}

.product .product-info {
  font-size: 15px;
  grid-area: info;
  display: inline;
  text-align: left;
  height: 70%;
}

.product-info .description {
  font-size: 25px;
}

.product-info .description p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

.product .tshirt {
  grid-area: tshirt;
  margin-top: 200px;
}

.product, .selection {
  grid-area: selection;
  text-align: center;
}

.selection h1 {
  color: $random-pink;
  font-size: 40px;
}

.selection button {
  padding-left: 20px;
  width: 80%;
  height: 60px;
  border: none;
  font-size: 25px;
  font-weight: 1000;
  background: $random-yellow;
  border-radius: 3px;
}

.color-selection {
  width: 100%;
  display: table;
}

.color-selection input {
  width: 20%;
  height: auto;
  float: left;
  padding: none;
  margin: none;
  outline: none;
  background: $random-pink;
}

.recommended h1{
  width: 100%;
  margin-left: 15%;
  font-family: Raleway;
  font-weight: 1000;
  font-style: italic;
}

.recommended .offering:nth-child(3) {
  padding-bottom: 200px;
}

.image-substitude {
  height: 1000px;
  width: 20%;
  grid-area: info;
  float: left;
  display: inline-block;
  overflow: hidden;
}
