$random-yellow: #ffdc0e;
$random-pink: #e6345f;
$random-pink-dark: #B21E4B;
$random-green: #16b0a3;
$random-blue: #27BAE1;
$random-blue-dark: #2696B1;
$random-gray: #ADB0B1;
$random-gray-dark: #7D7F80;
