<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div id="branding">
    <a [routerLink]="['/eshop']"><img src="assets/img/logotyp.png"/></a>
</div>

<nav>
  <ul>
    <li><a ng-href="wishlist.html">MŮJ SEZNAM PŘÁNÍ</a></li>
    <li><a ng-href="account.html">MŮJ ÚČET</a></li>
    <li><a ng-href="prihlaseni.html">PŘIHLÁŠENÍ</a></li>
  </ul>
</nav>
<section class="shopping-cart">
  <!-- vůbec nevim jak ten košík bude fungovat, nechám to na tobě :D -->
</section>
</header>

<router-outlet></router-outlet>


<section class="trending">
  <h1>OPIČÁRNY, CO TEĎ LETÍ</h1>
  <div *ngFor="let product of [0,1,2]" class="tshirt">
    <a [routerLink]="['/eshop/detail/' + product]">
    <img src="assets/img/triko.png"/>
    <p><span>RG CLASSIC 2018</span></p>
    <p>69RDM</p>
    <p>6969 CZK</p>
    </a>
  </div>
</section>

<section class="not-trending">
  <h1>OPIČÁRNY, CO TEĎ NELETÍ</h1>
</section>

<section class="random-blog">
  <h1>RANDOMBLOG</h1>
  <div>
  <h1>ADOPTOVALI JSME GORILÍ RODINU</h1>
  <button type="button" href="">ČÍST >></button>
  </div>
  <div>
    <h1>HLEDÁME ŠVADLENKU DO TÝMU</h1>
    <button type="button" href="">ČÍST >></button>
  </div>
  <div>
    <h1>REPORT Z KŘESTU</h1>
    <button type="button" href="">ČÍST >></button>
  </div>
</section>

<section class="trending">
  <h1>LIMITED EDITION</h1>
  <div *ngFor="let product of [0,1,2]" class="tshirt">
    <a [routerLink]="['/eshop/detail/' + product]">
    <img src="assets/img/triko.png"/>
    <p><span>RG CLASSIC 2018</span></p>
    <p>69RDM</p>
    <p>6969 CZK</p>
    </a>
  </div>
</section>

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frandomgorilla%2F&tabs&width=500&height=120&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="500" height="120" class="facebook" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>




<footer>
    <ul class="links">
      <li><a href="reklamace.html">VRÁCENÍ A REKLAMACE></a></li>
      <li><a href="kontakt.html">KONTAKTUJTE NÁS></a></li>
    </ul>
  <section class="newsletter">
    <form action="#">
      <span>CHCEŠ ODEBÍRAT</span>
      <span>NEJŽHAVĚJŠÍ NOVINKY?</span>
      <input type="email" placeholder="  TVŮJ MAIL"/>
    </form>
    <button type="submit" href="#" action="#" class="">JOOOOOO >></button>
  </section>
</footer>
