<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div id="branding">
    <a [routerLink]="['/eshop']"><img src="assets/img/logo.png"/></a>
</div>

<nav>
  <ul>
    <li><a ng-href="wishlist.html">MŮJ SEZNAM PŘÁNÍ</a></li>
    <li><a ng-href="registrace.html">REGISTRACE</a></li>
    <li><a ng-href="prihlaseni.html">PŘIHLÁŠENÍ</a></li>
  </ul>
</nav>
<section class="shopping-cart">
  <!-- vůbec nevim jak ten košík bude fungovat, nechám to na tobě :D -->
</section>
</header>

<router-outlet></router-outlet>

<div class="footer">
    <ul class="links">
      <li><a href="reklamace.html">VRÁCENÍ A REKLAMACE></a></li>
      <li><a href="kontakt.html">KONTAKTUJTE NÁS></a></li>
      <li><a href="">MY, OPIČÁCI></a></li>
    </ul>
  <section class="newsletter">
    <form action="#">
      <span>CHCEŠ ODEBÍRAT</span>
      <span>NEJŽHAVĚJŠÍ NOVINKY?</span>
      <input type="email" placeholder="  TVŮJ MAIL"/>
    </form>
    <button type="submit" href="#" action="#" class="">JOOOOOO >></button>
  </section>
</div>
