/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');


      /* GLOBAL COLOR VARIABLES */
$random-yellow: #ffdc0e;
$random-pink: #e6345f;
$random-green: #16b0a3;

      /* GLOBAL */

body {
  font: 20px/1.5 Raleway;
  padding: 0;
  margin: 0 5% 0 5%;
  background-color: white;
}

ul , h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

input, button {
  outline: none;
}

      /* HEADER */

header {
  background-color: white;
  color: black;
  min-height: 70px;
  padding-top: 30px;
}

header a{
  font-size: 20px;
  font-weight: lighter;
}

header li {
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
  border-left: 0.5px solid black;
  height: auto;
  outline: none;
  font-weight: lighter;
}

header li:nth-child(1) {
  border-left: none;
}

header #branding img{
  float: left;
  margin: 0;
  width: 30%;
  height: auto;
}

header nav {
  float: right;
}

/* HORNÍ UKÁZKA, MUSIM JEŠTĚ UDĚLAT SLIDE ANIMACI */

.showcase {
  min-height: 350px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  background: url('assets/img/showcase1.png') no-repeat;
}



/* FILTER (MUSÍ SE UDĚLAT UNFOLD BOXY NA PARAMETRY)*/

.filter {
  margin-top: 10px;
  display: table;
  margin: 0 auto;
}

.filter ul{
  min-width: 600px;
}

.filter li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  border-left: 1px solid black;
  font-weight: bold;
}

.filter li:nth-child(1) {
  border-left: none;
}

.offering {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.offering img{
  display: inline-block;
}

.offering .tshirt {
  display: inline-block;
  line-height: normal;
  font-size: 15px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.tshirt span {
  font-size: 17px;
}

.trending, .not-trending, .random-blog {
  display: block;
  width: 100%;
  margin: 10% 0 0 0;
  min-height: 200px;
  overflow: hidden;
  background: url('assets/img/randombackground.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trending , .not-trending h1 {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: none;
}

.trending h1 {
  background-color: white;
}

.trending a {
  float: left;
  display: inline-block;
  width: 33%;
  height: auto;
}

.trending a img {
  width: 60%;
}

.trending a p {
  display: none;
}

.not-trending {
  filter: brightness(50%);
}

.random-blog, .not-trending {
  -webkit-filter: grayscale(100%);
}

.random-blog div {
  width: 33%;
  font-weight: bold;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  margin: 0px auto;
}

.random-blog div button {
  width: 100%;
  height: 20%;
  background-color: white;
  border: none;
  outline: none;
  font-weight: bolder;
}

.random-blog div h1 {
  margin-top: 20%;
  font-size: 25px;
}

.random-blog h1 {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  padding: none;
  margin: 0;
  }


      /* FOOTER */

.footer {
  background-color: $random-green;
  width: 100%;
  min-height: 200px;
  margin: 100px 0 0 0;
  padding: 10% 0 10% 0;
  overflow: hidden;
  font-family: Raleway;
  font-weight: bolder;
  padding: 10px 0 10px 0;
}

.footer .links {
  float: left;
  font-size: 35px;
  font-weight: 1000;
}

.footer .newsletter {
  float: right;
  width: 25%;
  line-height: 1.4;
}

.footer .newsletter, .links{
  margin: 3% 5% 0 5%;
  display: inline-block;
}

.newsletter span {
  float: left;
  font-size: 22px;
  font-weight: bold;
}

.newsletter input {
  width: 99%;
  border: 2px solid black;
  height: 30px;
  font-size: 20px;
  color: black;
  background-color: white;
  margin: 5px 0 5px 0;
  font-style: italic;
  outline: none;
  padding: none;
}

.newsletter button {
  padding-left: 25px;
  width: 100%;
  height: 70px;
  border: none;
  font-weight: 600;
  font-size: 30px;
  background-color: $random-yellow;
  border: 7px solid $random-yellow;
  border-radius: 3px;
  text-align: left;
}


@media only screen and (max-width: 600px){
  body, html {
    padding: none;
    margin: 0 0 0 0;
    width: 100%;
  }

  header {
    min-height: 20px;
    position: absolute;;
    background-color: $random-yellow;
    padding: 20px 0 20px 0;
  }

  header #branding img {
    width: 70%;
    height: auto;
    margin: 0 15% 0 15%;
  }

  header nav {
    width: 100%;
  }

  header nav ul {
    display: none;
  }

  .showcase {
    width: 100%;
    background: none;
    border: 1px solid black;
  }

  .filter {
    display: none;
  }

  .footer {
    display: none;
  }

  .offering {
    display: none;
  }

  .trending, .not-trending, .random-blog {
    display: block;
  }

  .trending, .not-trending h1 {
    text-decoration: line-through;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0 0 10% 0;
  }

  .trending a {
    float: left;
    display: inline-block;
    width: 33%;
    height: auto;
  }


  .random-blog {
    width: 100%;
    background-color: $random-pink;
  }

  .random-blog div {
    width: 25%;
    height: 100%;
    border: 5px solid white;
    font-weight: bold;
    float: left;
    display: inline-block;
    font-size: 10px;
    margin: 0px auto;
  }

  .random-blog div h1 {
    text-decoration: none;
  }

  .random-blog h1 {
    text-decoration: line-through;
    width: 100%;
    text-align: center
    }
}
